.origin {
  width: 100%;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  @media (max-width: 400px) {
    &__title {
      font-size: 1.8rem !important;
    }
    &__link {
      padding: 1rem 3rem !important;
    }
  }

  &__title {
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: 500;
  }

  &__link:link,
  &__link:visited {
    padding: 1.5rem 5rem;
    background-color: $color-primary;
    color: #fff;
    border-radius: 100px;
    font-size: 1.7rem;

    span {
      margin-right: 1rem;
    }
  }
}
