.controls {
  width: 100%;
  padding: 1rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $mb-3;

  @media (max-width: 600px) {
    padding: 1rem 3rem !important;
  }

  &__founded {
    display: flex;
    align-items: center;
    font-size: 1.7rem;

    &-dot {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      background-color: $color-primary-dark;
    }

    &--value {
      font-weight: 600;
      margin-left: 1rem;
      margin-right: 0.5rem;
    }
  }
}
