.sub-header {
  width: 100%;
  background-color: #fff;
  padding: 3rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $mb-3;

  @media (max-width: 600px) {
    padding: 3rem 3rem !important;
  }

  @media (max-width: 532px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;

    .search {
      width: 100%;
      &__field {
        width: 100%;
      }
    }
  }
}

.search {
  display: flex;
  align-items: center;
  height: 4.5rem;
  padding-left: 2rem;
  border-radius: 40px;
  border: 1px solid $color-primary;

  &__field {
    width: 25rem;
    padding: 1rem;
    border: none;
    outline: none;
    font-size: 1.4rem;
    &::placeholder {
      color: $color-text-light;
    }
  }

  &__btn {
    height: 110%;
    display: flex;
    align-items: center;
    padding: 0rem 3rem;
    border-radius: 40px;
    border: none;
    background-image: linear-gradient(
      to right bottom,
      $color-primary-light,
      $color-primary
    );
    cursor: pointer;

    &-icon {
      margin: 0.5rem;
      fill: #fff;
    }

    span {
      color: #fff;
      font-size: 1.7rem;
      text-transform: capitalize;
      font-weight: 400;
    }
  }
}

.quick-search {
  display: flex;
  align-items: center;

  &__icon {
    margin-right: 0.5rem;
    fill: $color-border;
  }

  &__btn {
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: 400;
    border: none;
    border-radius: 5px;
    background-color: $color-border;
    color: $color-text-dark;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: $color-primary;
      color: #fff;
    }
  }
}
