.bookmarks {
  position: absolute;
  right: 0;
  top: 100%;
  width: 30rem;

  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  gap: 1rem;
  z-index: 9;
  transition: opacity 0.5s ease;
  visibility: hidden;
  opacity: 0;
}

.bookmark {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 3rem;
  gap: 1rem;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.4s ease;

  &:hover {
    background-color: $color-primary;
    padding: 1rem 2rem;
  }
  &:hover &__btn {
    opacity: 1;
  }

  &__img {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    overflow: hidden;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__title {
    flex: 1;
    font-weight: 400;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &__btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: transparent;
    border: none;
    outline: none;
    fill: #fff;
    cursor: pointer;
    opacity: 0;
    transition: all 0.4s;

    &:hover {
      fill: $color-text-dark;
    }
  }
}
