.btn {
  transition: transform 0.3s;
  &:hover {
    transform: scale(1.05);
  }
}
.icon--small {
  width: 1.6rem;
  height: 1.6rem;
}
.icon--medium {
  width: 2.3rem;
  height: 2.3rem;
}
.icon--big {
  width: 6rem;
  height: 6rem;

  @media (max-width: 600px) {
    width: 5rem;
    height: 5rem;
  }
}

// Modal
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
}
.modal.hidden {
  visibility: hidden;
  opacity: 0;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(#000000, 0.4);
  backdrop-filter: blur(5px);
  z-index: 999;
}
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  transition: all 0.2s ease-out;
  max-width: 90%;

  &__btn {
    position: absolute;
    top: 1.9rem;
    right: 1.9rem;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    &:active {
      transform: scale(0.9);
    }

    svg {
      fill: $color-text-dark;
      transition: fill 0.3s ease;

      &:hover {
        fill: $color-primary-dark;
      }
    }
  }
}
.spinner {
  width: 100%;
  text-align: center;

  &__icon {
    width: 7rem;
    height: 7rem;
    animation: spin 2s linear infinite;
    fill: $color-primary;

    @keyframes spin {
      0% {
        transform: rotate(0);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}

.feedback {
  width: 100%;
  grid-column: span 2;
  text-align: center;
  p {
    font-size: 1.8rem;
  }
}
.section {
  width: 100%;
  padding: 3rem 0;
  margin-bottom: $mb-3;

  @media (max-width: 600px) {
    &__header {
      margin-bottom: 0 !important;

      &-wrapper {
        h2 {
          font-size: 2rem !important;
        }
      }
    }
  }

  &__header {
    width: 100%;
    display: flex;
    justify-content: flex-start;

    &-wrapper {
      position: relative;
      display: flex;
      align-items: center;
      gap: 2rem;
      padding: 0 0 2rem 5rem;
      border-bottom: 2px solid $color-primary;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translate(50%, 50%);
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        background-color: $color-primary;
      }

      svg {
        fill: $color-text-dark;
      }

      h2 {
        font-size: 2.2rem;
      }
    }
  }

  &__content {
    width: 100%;
    padding: 3rem 10rem;

    @media (max-width: 600px) {
      padding: 5rem !important;
    }
  }
}

.not-found {
  position: relative;
  padding: 3rem 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  background-color: $color-text-dark;

  @media (max-width: 600px) {
    &__message {
      font-size: 1.8rem !important;
    }
  }

  &__message {
    font-weight: 300;
    font-size: 2rem;
    text-align: center;
    color: #fff;
  }
  &__icon {
    width: 30rem;
    height: 30rem;
    fill: $color-primary;
  }
  &__link {
    position: absolute;
    display: flex;
    gap: 1rem;
    top: 2rem;
    left: 2rem;
    color: #fff;
    border: 1px solid $color-primary;
    color: $color-primary;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border-radius: 5px;
    transform-origin: left;
    transition: gap 0.3s;
    &:hover {
      gap: 1.5rem;
    }

    span {
      text-transform: capitalize;
    }
  }
}
