.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2rem 5rem;
  background-color: $color-text-dark;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @media (max-width: 600px) {
    &__copyright {
      order: 3 !important;
      width: 100% !important;
      margin-top: 2rem;
    }
    &__logo {
      height: 5rem !important;
    }
  }

  &__logo {
    height: 6rem;
  }

  &__copyright {
    color: $color-gray;
    font-size: 1.6rem;
    text-align: center;

    strong {
      color: #fff;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 2rem;

    &-item {
      border-radius: 50%;
      overflow: hidden;

      &:hover {
        background-color: $color-gray;
      }
      &:hover a svg {
        transform: scale(1.2);
        fill: $color-text-dark;
      }

      a {
        width: 4rem;
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          transition: all 0.3s;
          fill: #fff;
        }
      }
    }
  }
}
