.header {
  width: 100%;
  height: 10rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $mb-3;
  &__logo {
    height: 100%;
    margin-left: 5rem;
  }
}

.nav {
  align-self: stretch;
  margin-right: 5rem;
  height: 100%;

  &__list {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__item {
    height: 100%;
    position: relative;

    // BOOKMARKS ITEM
    &--bookmarks {
      &:hover .bookmarks {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    fill: $color-primary;
  }

  &__btn {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      background-color: $color-gray;
    }

    span {
      font-size: 1.7rem;
      text-transform: capitalize;
      font-weight: 400;
      color: $color-text-dark;
    }
  }
}
