.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 2rem 0;
  margin-bottom: $mb-3;

  &__pages {
    display: flex;
    gap: 2rem;

    @media (max-width: 500px) {
      gap: 1rem;
    }

    &-page {
      font-size: 1.6rem;
      width: 3.5rem;
      height: 3.5rem;
      border: none;
      outline: none;
      background-color: #fff;
      color: #444;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.4s;
      &:hover {
        background-color: #444;
        color: #fff;
      }

      &--active {
        background-color: #444;
        color: #fff;
      }
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    gap: 1rem;
    border: none;
    background-color: $color-primary;
    padding: 0.5rem 1.5rem;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.3s;

    &:not(&-disabled):hover {
      background-color: $color-primary-dark;
    }
    &:not(&-disabled):hover svg {
      fill: $color-primary-dark;
    }

    &--next:not(&-disabled):hover {
      transform: translateX(0.3rem);
    }
    &--prev:not(&-disabled):hover {
      transform: translateX(-0.3rem);
    }

    // PAGINATION BTN DISABLED
    &-disabled {
      filter: grayscale(100%);
    }

    svg {
      box-sizing: content-box;
      fill: $color-primary;
      background-color: #fff;
      border-radius: 50%;
      padding: 0.4rem;
    }

    span {
      color: #fff;
      text-transform: capitalize;
      font-size: 1.4rem;
      font-weight: 400;
    }
  }
}
